section.space_content-y.page-section.backbg.backbg-pic1(role='Porque taurus?')
  .container#porquetaurus
    .row
      .col-xl-12.text-center.space_title-b
        h2.title-xl.c-tertiary Serviços
      .col-xl-4.text-center.c-tertiary.mb-2
        a.link.link-img(href='#')
          img.img-fluid(src="images/v.svg", alt="Segurança na Taurus")
          .my-2.title.title-m Consultorias
        //- p.my-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam obcaecati,
      .col-xl-4.text-center.c-tertiary.mb-2
        a.link.link-img(href='#')
          img.img-fluid(src="images/w.svg", alt="Fidelidade na Taurus")
          .my-2.title.title-m Projetos
        //- p.my-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam obcaecati,
      .col-xl-4.text-center.c-tertiary.mb-2
        a.link.link-img(href='#')
          img.img-fluid(src="images/x.svg", alt="Facilidade na Taurus")
          .my-2.title.title-m Obras
        //- p.my-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam obcaecati,

section(role='map')
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d959.7741979252996!2d-47.89383697076231!3d-15.798849508873012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3ae901e3a94b%3A0x42808633ed137875!2sAssis%20Chateaubriand%20SRTVS!5e0!3m2!1spt-BR!2sbr!4v1606835938094!5m2!1spt-BR!2sbr' width="100%" height="400" frameborder="0" style="border:0" allowfullscreen="")
section(role='galeria')
  include ../componentes/gallery.pug
section.page-section(role='Seguro e Bastidores')
  .hero.hero-item--2.py-4
    .container-fluid.h-100#seguroebastidores
      .row.h-100
        .col-xl-12
          .d-flex.align-items-center.h-100.justify-content-center.flex-column
            img.img-fluid.control-logo(src="images/u.svg", alt="Seguro e Bastidores")
            //- h3.text-shadow.white SERVIÇO DE UTILIDADE PÚBLICA
            //- P.text-shadow.white Seguro e bastidores conta com um vasto conteúdo de ajuda securitária automovel, podendo participar e fazer perguntas. clique aqui e tire suas dúvidas.
            //- a.btn.btn-primary(href='http://www.seguroebastidores.com.br' target='_blank') Ir para o site
section.space_content-y.contact.page-section.backbg.backbg-pic2(role='Contato')
  .container#contatos
    .row
      .col-xl-12.text-center.space_title-b
        h2.title-xl.m-0 Deixe sua mensagem
      .col-xl-6
        form.contact-form
          .form-group
            label.title-sm(for='exampleFormControlInput1') Email address
            input#exampleFormControlInput1.form-control(type='email' placeholder='name@example.com')
          .form-group
            label.title-sm(for='exampleFormControlSelect1') Example select
            select#exampleFormControlSelect1.form-control
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.title-sm(for='exampleFormControlTextarea1') Example textarea
            textarea#exampleFormControlTextarea1.form-control(rows='3')
          .form-group
            .text-right
              a.btn.btn-primary.link(href='#') Enviar
      .col-xl-6
        p
          a.link.link-light--tertiary(href='#')
            i.icon-local-48
            strong &nbsp; SRTVS QD. 701 CONJ L ED Assis Chateaubriand 1º andar sala 111
        p
          a.link.link-light--tertiary(href='#')
            i.icon-phone-48
            strong &nbsp; (61) 3322-7826
        p
          i.icon-local-48
          strong &nbsp; Cep: 70340-906
        p
          i.icon-clock-48 &nbsp;
          strong Horario de funcionamento de 08h às 12h e 14h às 18h
        p Você também pode entrar em contato por aqui...
        p.contact-social
          span
            a.link.link-clear--whatsapp(href='#' title='whatsapp')
              i.icon-whatsapp-48
          span
            a.link.link-clear--facebook(href='#' title='facebook')
              i.icon-facebook-circle-48
          span
            a.link.link-clear--instagram(href='#' title='instagram')
              i.icon-instagram-48
section.space_content-y.bg-cousin(role='Marca Taurus Seguros')
   .container-fluid.h-100
      .row.h-100
        .col-xl-12
          .d-flex.align-items-center.h-100.justify-content-center.separeted
            a.link.link-square.link-hover--instagram(href='#' title='Instagram')
              i.icon-instagram-48
            a.link.link-square.link-hover--pinterest(href='#' title='Pinterest')
              i.icon-pinterest-48
            a.link.link-square.link-hover--whatsapp(href='#' title='Whatsapp')
              i.icon-whatsapp-48
            a.link.link-square(href='#' title='Telefone')
              i.icon-phone-48
            a.link.link-square.link-hover--youtube(href='#' title='Youtube')
              i.icon-youtube-48
            a.link.link-square.link-hover--facebook(href='#' title='Facebook')
              i.icon-facebook-48
            a.link.link-square(href='#' title='Endereço')
              i.icon-local-48
            a.link.link-square(href='#' title='E-mail')
              i.icon-email-48
