header
  include navbar.pug
  #carouselExampleCaptions.carousel.carousel-theme.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselExampleCaptions' data-slide-to='0')
      li(data-target='#carouselExampleCaptions' data-slide-to='1')
      li(data-target='#carouselExampleCaptions' data-slide-to='2')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='https://unsplash.it/1500/600?random&seed=0' alt='...')
        .carousel-caption.d-none.d-md-block
          h5.title--hero PERSONAL REFORMA
          p.subtitle--hero Interiores e Aquitetura
      .carousel-item
        img.d-block.w-100(src='https://unsplash.it/1500/600?random&seed=1' alt='...')
        .carousel-caption.d-none.d-md-block
          h5.title--hero PERSONAL REFORMA
          p.subtitle--hero Interiores e Aquitetura
      .carousel-item
        img.d-block.w-100(src='https://unsplash.it/1500/600?random&seed=2' alt='...')
        .carousel-caption.d-none.d-md-block
          h5.title--hero PERSONAL REFORMA
          p.subtitle--hero Interiores e Aquitetura
    a.carousel-control-prev(href='#carouselExampleCaptions' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleCaptions' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next

  //- section.hero.hero-item(role='Apresentação')
  //-   .setsubbackground.hero-item--3
  //-     .container.h-100
  //-       .row.h-100
  //-         .col-xl-12
  //-           .d-none.d-lg-block
  //-             .py-4
  //-               ul.navbar_control-list.navbar_control-link--white
  //-                 include nav.pug
  //-         .col-xl-12.hero--container
  //-           h1.title--hero Taurus
  //-           p.title-xl.title-m.white  Corretora de Seguros
  //-           .d-none.d-md-block
  //-             p.c-tertiary.title-lg Kits de desconto em oficinas
  //-             p.c-tertiary.title-lg Assistência jurídica
  //-           .navbar_control-btn.d-none.d-md-block
  //-             a.btn.rounded-0.btn-lg.btn-success(href='#' title='cotação')
  //-               i.fas.fa-calculator
  //-               |  Cotação on-line
  //-             a.btn.rounded-0.btn-lg.btn-primary(href='#' title='vendedor')
  //-               i.fas.fa-user
  //-               |  Fale com um vendedor
  //- section.d-block.d-md-none(role='Apresentação')
  //-   .btn-group.navbar_control-btn.w-100
  //-     a.btn.rounded-0.btn-success(href='#' title='cotação')
  //-       i.fas.fa-calculator
  //-       |  Cotação on-line
  //-     a.btn.rounded-0.btn-primary(href='#' title='vendedor')
  //-       i.fas.fa-user
  //-       |  Fale com um vendedor
