li
  i.icon-clock-48 &nbsp;
  | Horario de funcionamento de 08h às 12h e 14h às 18h
li
  a.link-deep.link.navbar_control-link(href='tel:' title='Telefone')
    i.icon-phone-48 &nbsp;
    | +55 61 3525-4145
li
  a.link.link-deep--facebook(href='#' title='Facebook')
    i.icon-facebook-circle-48
li
  a.link.link-deep--instagram(href='#' title='Instagram')
    i.icon-instagram-48
li
  a.link.link-deep--whatsapp(href='#')
    i.icon-whatsapp-48
