// VARIABLES THEMA SYSTEM COLORS
$primary: #8e1e4c;
$secondary: #1a1746;
$tertiary: #a08c82;
$default: #f1f1f1;
$cousin: #f9cde1;
$link: #27425c;
$linkhover: #3e6892;
$cut: #ccc;
$themesec: #b8cee8;
$themeter: #d8cabf;

// Transitions
$linktransition: color 0.15s linear;

// Scales
$giga:                        96px;
$mega:                        72px;
$kilo:                        48px;
$pounds:                      40px;
$alpha:                       36px;
$beta:                        32px;
$gamma:                       28px;
$delta:                       24px;
$epsilon:                     20px;
$zeta:                        18px;
$eta:                         16px;
$milli:                       12px;
$micro:                       10px;
