.backbg {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.backbg-pic1 {
  background-image: url('../../images/azulejos.png');
}

.backbg-pic2 {
  background-image: url('../../images/aline-azulejos.png');
}
