.contact {
  // background-color: #323245;
}

.contact-social {
  > span {
    font-size: $delta;

    &:not(:first-child) {
      margin-left: 15px;
    }
  }
}

.contact-form {
  input,
  select,
  textarea {
    opacity: 0.8;
  }
}
