.link {
  transition: $linktransition;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.link-block {
  transition: $linktransition;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.link-text {
  color: $link;

  &:hover,
  &:focus,
  &:active {
    color: $linkhover;
    text-decoration: underline !important;
  }
}
// links square social

.link-square {
  border: 1px solid $primary;
  color: $primary;
  padding: 2px 8px;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-left: 0;
  }
}

.link-hover--facebook {
  &:hover {
    color: #4867aa;
  }
}

.link-hover--instagram {
  &:hover {
    color: #a2108f;
  }
}

.link-hover--youtube {
  &:hover {
    color: #f80000;
  }
}

.link-hover--whatsapp {
  &:hover {
    color: $success;
  }
}

.link-hover--pinterest {
  &:hover {
    color: #e60023;
  }
}
// links social network fundos escuros

.link-deep--facebook {
  color: white;

  &:hover {
    color: #4867aa;
  }
}

.link-deep--twitter {
  color: white;

  &:hover {
    color: #1da0f1;
  }
}

.link-deep--instagram {
  color: white;

  &:hover {
    color: #a2108f;
  }
}

.link-deep--youtube {
  color: white;

  &:hover {
    color: #f80000;
  }
}

.link-deep--whatsapp {
  color: white;

  &:hover {
    color: $success;
  }
}

// social para fundos claros

.link-clear--whatsapp {
  color: $success;

  &:hover {
    color: $primary;
  }
}

.link-clear--facebook {
  color: #4867aa;

  &:hover {
    color: $primary;
  }
}

.link-clear--instagram {
  color: #a2108f;

  &:hover {
    color: $primary;
  }
}

// links para fundos escuros
.link-deep {
  color: white;

  &:hover {
    color: #ccc;
  }
}

.link-deep--cousin {
  color: white;

  &:hover {
    color: $cousin;
  }
}
// links para fundos claros
.link-img {
  color: $tertiary;
  transition: all 0.5s ease-in-out;

  img {
    transition: all 0.5s ease-in-out;
    transform: scale(1);
  }

  &:hover {
    img {
      transform: scale(1.1);
    }

    color: $primary;
  }
}

.link-light {
  color: $tertiary;

  &:hover {
    color: $default;
  }
}

.link-light--tertiary {
  color: $secondary;

  &:hover {
    color: $tertiary;
  }
}

.link-clear {
  color: #ccc;

  &:hover {
    color: $default;
  }
}

.link-clear--tertiary {
  color: #666;

  &:hover {
    color: $tertiary;
  }
}
// links variables fundos claros
.link-primary--clear {
  color: $primary;

  &:hover {
    color: $tertiary;
  }
}
